html {
  font-family: sans-serif;
}

h1 {
  font-weight: 200;
  font-size: 1.3rem;
  padding-top: 2rem;
  margin: 0;
  padding-bottom: 1.4rem;
}

.content-wrapper {
  width: fit-content;
  margin: auto;
  text-align: center;
  font-size: 0.8rem;
  height: 100vh;
}

.info-wrapper {
  padding: 0.7rem;
  border: 1px dashed black;
}

.city-wrapper,
.temperature-wrapper,
.condition-wrapper,
.other-info-wrapper {
  width: 15rem;
  margin-bottom: 1.7rem;
  border: 1px solid rgb(0, 0, 0);
}

.city-heading,
.temperature-heading,
.condition-heading,
.other-info-heading {
  padding: 0.2rem 0;
  background-color: #ffc374;
  font-weight: 600;
  border-bottom: 1px solid rgb(0, 0, 0);
}

.city-body,
.temperature-body,
.condition-body {
  display: flex;
  justify-content: center;
}

.city-body,
.temperature-body div,
.condition-body {
  flex-grow: 1;
  padding: 0.55rem;
  background-color: white;
}

.temperature-body div:first-of-type {
  border-right: 1px solid rgb(0, 0, 0);
}

.temperature-body div:nth-child(2) {
  border-right: 1px solid rgb(0, 0, 0);
}

.other-info-wrapper {
  margin-bottom: 0;
}

.other-info-body {
  padding: 2rem;
  height: 6.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-mode-button,
.wireframe-mode-button {
  border: none;
  background-color: #ffc374;
  border-radius: 100px;
  margin-bottom: 1.7rem;
  padding: 0.4rem 1rem;
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.368);
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.custom-mode-button:hover,
.wireframe-mode-button:hover {
  cursor: pointer;
}

.custom-content {
  display: none;
  width: 100vw;
  height: 100vh;
}

/* CUSTOM APP STYLES */
.custom-content-image {
  background: url(../assets/cloud.jpg);
  background-size: cover;
  width: 100vw;
  height: 100vh;
  opacity: 0.4;
  z-index: 1;
  position: absolute;
  top: 0;
}

.custom-content-overlay {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: rgb(0, 0, 0);
  top: 0;
  z-index: 0;
}

.custom-content-wrapper {
  z-index: 2;
  position: relative;
  min-height: 100vh;
}

.main-custom-content {
  width: 85vw;
  height: 80vh;
  margin: auto;
  border-radius: 4.5rem;
  background: url(../assets/cloud.jpg);
  background-size: cover;
  opacity: 1;
  display: flex;
  position: relative;
  top: 10vh;
}

.side-info {
  height: 100%;
  background-color: rgba(67, 67, 210, 0.385);
  flex-grow: 1;
  border-radius: 4.5rem 0 0 4.5rem;
}

.main-info {
  height: 100%;
  background-color: rgba(67, 210, 150, 0.385);
  flex-grow: 3;
  border-radius: 0 4.5rem 4.5rem 0;
}

/* 
 <body>
    <div class="content-wrapper">
      <h1>Weather App</h1>
      <div class="info-wrapper">
        <div class="city-wrapper">
          <div class="city-heading">City</div>
          <div class="city-body"></div>
        </div>
        <div class="temperature-wrapper">
          <div class="temperature-heading">Temperature</div>
          <div class="temperature-body">
            <div></div>
            <div></div>
            <div></div>
          </div>
        </div>
        <div class="condition-wrapper">
          <div class="condition-heading">Condition</div>
          <div class="condition-body"></div>
        </div>
        <div class="other-info-wrapper">
          <div class="other-info-heading">Other Info</div>
          <div class="other-info-body"></div>
        </div>
      </div>
    </div>
  </body>
  */
