html {
  font-family: sans-serif;
}

h1 {
  font-weight: 200;
  font-size: 1.3rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.content-wrapper {
  width: fit-content;
  margin: auto;
  text-align: center;
  font-size: 0.8rem;
}

.info-wrapper {
  padding: 0.7rem;
  border: 1px dashed black;
}

.city-wrapper,
.temperature-wrapper,
.condition-wrapper,
.other-info-wrapper {
  width: 15rem;
  margin-bottom: 2rem;
  border: 1px solid rgb(0, 0, 0);
}

.city-heading,
.temperature-heading,
.condition-heading,
.other-info-heading {
  padding: 0.2rem 0;
  background-color: #ffc374;
  font-weight: 600;
  border-bottom: 1px solid rgb(0, 0, 0);
}

.city-body,
.temperature-body,
.condition-body {
  display: flex;
  justify-content: center;
}

.city-body,
.temperature-body div,
.condition-body {
  flex-grow: 1;
  padding: 0.55rem;
  background-color: white;
}

.temperature-body div:first-of-type {
  border-right: 1px solid rgb(0, 0, 0);
}

.temperature-body div:nth-child(2) {
  border-right: 1px solid rgb(0, 0, 0);
}

.other-info-wrapper {
  margin-bottom: 0;
}

.other-info-body {
  padding: 2rem;
  height: 6.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 
 <body>
    <div class="content-wrapper">
      <h1>Weather App</h1>
      <div class="info-wrapper">
        <div class="city-wrapper">
          <div class="city-heading">City</div>
          <div class="city-body"></div>
        </div>
        <div class="temperature-wrapper">
          <div class="temperature-heading">Temperature</div>
          <div class="temperature-body">
            <div></div>
            <div></div>
            <div></div>
          </div>
        </div>
        <div class="condition-wrapper">
          <div class="condition-heading">Condition</div>
          <div class="condition-body"></div>
        </div>
        <div class="other-info-wrapper">
          <div class="other-info-heading">Other Info</div>
          <div class="other-info-body"></div>
        </div>
      </div>
    </div>
  </body>
  */
