.content-wrapper {
  width: fit-content;
  margin: auto;
  text-align: center;
  background-color: rgba(127, 255, 212, 0.193);
}

/* 
 <body>
    <div class="content-wrapper">
      <h1>Weather App</h1>
      <div class="info-wrapper">
        <div class="city-wrapper">
          <div class="city-heading">City</div>
          <div class="city-body"></div>
        </div>
        <div class="temperature-wrapper">
          <div class="temperature-heading">Temperature</div>
          <div class="temperature-body">
            <div></div>
            <div></div>
            <div></div>
          </div>
        </div>
        <div class="condition-wrapper">
          <div class="condition-heading">Condition</div>
          <div class="condition-body"></div>
        </div>
        <div class="other-info-wrapper">
          <div class="other-info-heading">Other Info</div>
          <div class="other-info-body"></div>
        </div>
      </div>
    </div>
  </body>
  */
